    .App {
        text-align: center;
    }

    .App-logo {
        height: 40vmin;
    }

    .App-header {
        background-color: #282c34;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
    }

    .button-page-link {
        font-family: 'Raleway';
        text-align: center;
        -webkit-font-smoothing: antialiased;
        line-height: 18pt;
        color: #fff;
        border: 2px solid #fff;
        box-sizing: inherit;
        display: inline-block;
        transition: all .5s;
        cursor: pointer;
        font-size: 16pt;
        position: relative;
        margin-bottom: 53px;
        padding: 12px 20px 12px 20px;
    }

    .App-link {
        color: #09d3ac;
    }